name: Notify Webhook

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, closed]
    branches:
      - main

jobs:
  notify-webhook:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Notify Webhook
        shell: pwsh
        run: |
          $payload = @{
              author      = if ("${{ github.event.pull_request.user.login }}") { "${{ github.event.pull_request.user.login }}" } else { "${{ github.actor }}" }
              request_id  = if ("${{ github.event.pull_request.number }}") { "${{ github.event.pull_request.number }}" } else { "${{ github.sha }}" }
              from_branch = if ("${{ github.event.pull_request.head.ref }}") { "${{ github.event.pull_request.head.ref }}" } else { "${{ github.ref_name }}" }
              to_branch   = if ("${{ github.event.pull_request.base.ref }}") { "${{ github.event.pull_request.base.ref }}" } else { "${{ github.ref_name }}" }
              event       = "${{ github.event_name }}"
              pr_action  = if("${{ github.event.action }}") {"${{ github.event.action }}"} else {""}
              merged_at   = if ("${{ github.event.pull_request.merged_at }}") {"${{ github.event.pull_request.merged_at }}"} else {""}
              timestamp   = (Get-Date).ToUniversalTime().ToString("dd MMMM yyyy - hh:mm tt 'UTC'")
          } | ConvertTo-Json -Compress
          Invoke-RestMethod -Uri "https://revolution-england-according-glen.trycloudflare.com/webhook/receiver" `
                            -Method POST `
                            -ContentType "application/json" `
                            -Body $payload